@using Pokemons.Core.Application.ViewModel.Pokemones
@model SavePokemon  

@{
    
    bool editMode= Model.Id == 0 ? false : true;
    ViewData["Title"] = "Save Pokemon";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando el pokemon: {Model.Name}" : "Creando un nuevo pokemon")</h4>
                </div>
                <div class="card-body">
<<<<<<< HEAD

                    @if (Model.Regions == null || Model.Types == null || Model.Regions.Count == 0 || Model.Types.Count == 0)
                    {
                        <h4>No exitesten regiones o tipos de pokemones</h4>
                        <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Return</a>
                    }
                    else
                    {
                      <form method="post" asp-controller="Pokemon" asp-action="@(editMode ? "Edit" : "Create")">
=======
                    <form method="post" asp-controller="Pokemon" asp-action="@(editMode ? "Edit" : "Create")">
>>>>>>> 5b9ee33994f341d7a6339b8ef121b513d12da1d9
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="UrlImg" class="form-label">Url Image: </label>
                            <input type="text" asp-for="UrlImg" class="form-control"/>
                            <span asp-validation-for="UrlImg" class="text-danger"></span>
                        </div>

                        
                        <div class="mb-3">
                            <label asp-for="IdRegion" class="form-label">Region: </label>
<<<<<<< HEAD
                            <select asp-for="IdRegion" asp-items="@(new SelectList (Model.Regions, "Id", "Name"))" class="form-select">
                                <option value="">Selct a option for region</option>
         
=======
                            <select asp-for="IdRegion" class="form-select">
                                <option value="">Selct a option for region</option>
                                <option value="1">Kanto</option>
                                <option value="2">Alola</option>
                                <option value="3">Hisui</option>
>>>>>>> 5b9ee33994f341d7a6339b8ef121b513d12da1d9
                            </select>
                            <span asp-validation-for="IdRegion" class="text-danger"></span>
                        </div>

                       <div class="mb-3">
                            <label asp-for="IdType" class="form-label">Region: </label>
<<<<<<< HEAD
                            <select asp-for="IdType" asp-items="@(new SelectList (Model.Types, "Id", "Name"))" class="form-select">
                                <option value="">Selct a option for type</option>

=======
                            <select asp-for="IdType" class="form-select">
                                <option value="">Selct a option for type</option>
                                <option value="1">Electrico</option>
                                <option value="2">Siniestro</option>
                                <option value="3">Normal</option>
                                <option value="4">Psiquico</option>
>>>>>>> 5b9ee33994f341d7a6339b8ef121b513d12da1d9
                            </select>
                            <span asp-validation-for="IdType" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for=Id/>

                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Return</a>

                    </form>
<<<<<<< HEAD

                    }
=======
>>>>>>> 5b9ee33994f341d7a6339b8ef121b513d12da1d9
                </div>


            </div>

        </div>
    </div>

</div>

